.section__padding {
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
  background: #333;
}

.section__padding h1 {
  color: #fff;
  border: 1px solid white;
  padding: 1rem;
  border-radius: 50px;
}

.tw-suggestion-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem;
  width: 16.5rem;
  border-radius: 50px;
  gap: 15px;
  background: #555;
}
