.section__padding {
  padding: 2rem 4rem;
}

.tw-suggestion-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem;
  width: 16.5rem;
  border-radius: 50px;
  gap: 15px;
  background: #555;
}
